<a href="https://colab.research.google.com/github/lakithav/ml-internship-journey/blob/main/day2_data_structures.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
#dictionaries : key value format

student = {
    "name":"Lakitha",
    "age":"24",
    "marks":85,
    "passed":True
}

print(student)

{'name': 'Lakitha', 'age': '24', 'marks': 85, 'passed': True}

In [4]:
#list of dictionaries

student = [
    {"name":"A","marks":55},
    {"name":"B","marks":65},
    {"name":"C","marks":75},
    {"name":"D","marks":85}
]

print(student)

[{'name': 'A', 'marks': 55}, {'name': 'B', 'marks': 65}, {'name': 'C', 'marks': 75}, {'name': 'D', 'marks': 85}]

In [5]:
students = [
    {"name":"A","marks":55},
    {"name":"B","marks":65},
    {"name":"C","marks":75},
    {"name":"D","marks":85}
]

for student in students:
  print(student["name"],student["marks"])

A 55
B 65
C 75
D 85

In [10]:
students = [
    {"name":"A","marks":55},
    {"name":"B","marks":65},
    {"name":"C","marks":75},
    {"name":"D","marks":85},
    {"name":"E","marks":95}
]

passed_students =[]

for student in students:
  if student["marks"] >=60:
    passed_students.append(student)

print(passed_students)

for passed_student in passed_students:
  print(passed_student["name"],passed_student["marks"])

#Calculatind average of the passed students

total = 0

for passed_student in passed_students:
  total += passed_student["marks"]

average = total/len(passed_students)

print("Average",average)

[{'name': 'B', 'marks': 65}, {'name': 'C', 'marks': 75}, {'name': 'D', 'marks': 85}, {'name': 'E', 'marks': 95}]
B 65
C 75
D 85
E 95
Average 80.0