In [ ]:
#variables

name = "Lakitha"
age = 24
height = 1.88

print(name)
print(age)
print(height)

Lakitha
24
1.88

In [ ]:
#Lists

marks =[10,20,55,70]

print(marks)
print(marks[0])
print(marks[1])
print(marks[2])
print(marks[-1])

[10, 20, 55, 70]
10
20
55
70

In [ ]:
marks =[55,70,82,90,65]

for mark in marks:
  print(mark)

for mark in marks:
  if mark >= 60:
    print("pass",mark)
  else:
    print("fail",mark)

55
70
82
90
65
fail 55
pass 70
pass 82
pass 90
pass 65

In [24]:
#Functions

def calculate_average(numbers):
  total=sum(numbers)
  count=len(numbers)
  return total / count

marks= [55,70,82,90,65]

avg=calculate_average(marks)
print("Average",avg)

Average 72.4

In [33]:
marks = [55,70,82,90,65,40,95]

passed_students = []

for mark in marks:
  if mark >= 60:
    passed_students.append(mark)
print("passed_students:",passed_students)
print("number of students passed:",len(passed_students))

def average(numbers):
  total = sum(numbers)
  count = len(numbers)
  return total/count

avg=average(passed_students)
print("Passed students average:",avg)

passed_students: [70, 82, 90, 65, 95]
number of students passed: 5
Passed students average: 80.4